#form {
	width: 1000px;
	border-width:1px;
	border-color: #333333;
	background-color: #eeeeee;
}

#form .header {
	text-align: center;
	font-size: large;
}

.number-short {
	width: 70px !important;
}

.input-short {
	width: 90px !important;
}

.innel-table {
	margin-bottom:0px;
}

.pointer {
	cursor: pointer;
}

.select-middule {
	width: 125px !important;
}

.selected {
	background-color: lightgreen;
}

.stratum-8506333422426112 {
	background-image: url(../../resources/img/stratum/1.png);
}

.stratum-8550812441122816 {
	background-image: url(../../resources/img/stratum/2.png);
}

.stratum-8550809416505344 {
	background-image: url(../../resources/img/stratum/3.png);
}
