.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

#form {
	width: 1000px;
	border-width:1px;
	border-color: #333333;
	background-color: #eeeeee;
}

#form .header {
	text-align: center;
	font-size: large;
}

.number-short {
	width: 70px !important;
}

.input-short {
	width: 90px !important;
}

.input-m {
	width: 90px !important;
}

.innel-table {
	margin-bottom:0px;
}

.pointer {
	cursor: pointer;
}

.input-stratum {
	width: 150px !important;
	cursor: pointer;
}

input[readonly] {
     cursor: pointer;
}

.selected {
	background-color: lightgreen;
}

#stratumImg {
	height: 360px;
	width: 250px;
	background: #eee;
}

.img-left {
	width: 90px;
	max-width: 100px;
	display: inline-block;
	font-size: 8px;
}

.img {
	min-height:16px;
	width: 128px;
	display: inline-block;
}

.img-right {
	display: inline-block;
	padding-left: 4px;
	font-size: 8px;
}

.line {
	height: 1px;
	background-color: #110000;
}

#roof {
	background-color: #EEEEEE;
}
#tunnel {
	background-color: #AAAAAA;
}
#floor {
	background-color: #777777;
}